<div class="content-wrapper">
    <div class="container">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-users"></i>User Details</div>
            <div class="card-body">
                <div class="table-responsive">


                </div>

                <a type="button" class="btn btn-success" [routerLink]="['/admin/layout/user/create']"><i class="fa fa-plus" aria-hidden="true"></i></a>&nbsp;&nbsp;
            </div>
            <!-- card body -->
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->


</div>