<div class="content-wrapper">
    <div class="container">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Role</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <app-role-list></app-role-list>
            </div>
            <div class="col-md-6 col-sm-12">
                <app-role-create></app-role-create>
            </div>
        </div>

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->


</div>